.fieldsContainer{
  margin: 10px auto;

}

.fieldsSVG{
  border: solid 1px blue;
  overflow: auto;
  height: 95%;
  max-height: 1200px;
}

.buttonBox{
  margin: 0 auto;
  text-align: center;
}

.front_side{
  margin: 20px;
}